{% extends 'base.html.twig' %}

{% block title %}
	Login
{% endblock %}

{% block body %}
	<div class="form-wrapper text-center">
        {{ form_start(form) }}
            {{ form_row(form.password) }} 
            {{ form_row(form.confirmPassword) }} 
        {{ form_end(form) }}           
	</div>

{% endblock %}

{% block js %}
	<script>
		let eye = document.querySelector(".fi-rr-eye");
let passwordInput = document.getElementById("inputPassword");
eye.addEventListener("click", function () {
if (passwordInput.type === "password") {
passwordInput.type = "text";
eye.classList.remove("fi-rr-eye");
eye.classList.add("fi-rr-eye-crossed");
} else {
passwordInput.type = "password";
eye.classList.remove("fi-rr-eye-crossed");
eye.classList.add("fi-rr-eye");
}
});
	</script>

{% endblock %}
