{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
<div class="form-wrapper text-center">
	<form method="post" class="login-form">
		<h1 class="h3 mb-5 font-weight-normal">Login</h1>

		<div class="form-group mb-4">
			<input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email">
		</div>

		<div class="form-group mb-4">
			<i class="fi fi-rr-eye"></i>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required  placeholder="Password">
		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<div class="form-group mb-4">
				<button class="btn btn-lg btn-primary" type="submit">Login</button>
		</div>
		
		<div class="checkbox mb-4">
			<div class="d-flex justify-content-between">
				<div class="remember-me">
					<input type="checkbox" name="_remember_me" id="remember_me">
					<label for="remember_me">Remember me</label>
				</div>
				<a href="{{path("app_password_reset")}}">Reset Password</a>
			</div>
		</div>

		<div class="form-group mb-4">
			<span>Don't have account ? <a href="{{path("app_signup")}}">Sign up</a></span>
		</div>
		
	</form>
</div>

{% endblock %}

{% block js %}
<script>
	let eye = document.querySelector(".fi-rr-eye");
	let passwordInput = document.getElementById("inputPassword");
	eye.addEventListener("click", function(){
		if(passwordInput.type === "password"){
			passwordInput.type = "text";
			eye.classList.remove("fi-rr-eye");
			eye.classList.add("fi-rr-eye-crossed");
		}
		else{
			passwordInput.type = "password";
			eye.classList.remove("fi-rr-eye-crossed");
			eye.classList.add("fi-rr-eye");
		}
	});
</script>

{% endblock %}