{% extends 'base.html.twig' %}

{% block title %} Applications {% endblock %}

{% block body %}

	<div class="d-flex">
		<div class="admin">
			{% include 'recruiter_sidebar.html.twig' %}
		</div>
			<div class="content">
				<div class="row">
				{% for app in apps %}
				<div class="col-lg-4">
					{{app.job.name}}
					{{app.user.nom}}
				</div>
				{% endfor %}
				</div>
			</div>
	</div>

{% endblock %}

{% block js %}
	<script>

		let dropdown = document.querySelector(".account-dropdown");
		let account = document.querySelector(".account");
		let avatar = document.querySelector(".avatar");
		
		avatar.addEventListener("click", function () {
			if (dropdown.classList.contains("show")) {
				dropdown.classList.remove("show");
			} else {
				dropdown.classList.add("show");
			}
		});

		document.addEventListener("click", function (e) {
			if (dropdown.classList.contains("show")) {
				if (! account.contains(e.target)) {
					dropdown.classList.remove("show");
				}
			}
		});

	</script>
{% endblock  %}

