{% extends 'base.html.twig' %}

{% block title %} Applications {% endblock %}

{% block body %}

	<div class="d-flex">
		<div class="admin">
			{% include 'recruiter_sidebar.html.twig' %}
		</div>
			<div class="container">
				<div class="dashboard">
						{% for app in apps %}
						
							<div class="application mb-3">
								<div class="row">
									<div class="col-lg-2">
										<div class="user-img">
										{% if app.user.useravatar %}
											<img src="/avatars/{{app.user.useravatar}}" alt="User Avatar" />
										{% else %}
											<img src="/avatars/user.png" alt="User Avatar"/>
										{% endif %}
										</div>
									</div>
									<div class="col-lg-9">
										<div class="user-info">
											<p>{{app.user.nom}} {{app.user.prenom}}</p>
										</div>
									</div>
									<div class="col-lg-1">

										<div class="options">
											<span class="dropdown">
												<i class="fi fi-rr-menu-dots-vertical"></i>
											</span>
											<div class="option-menu">
												<a href="#"><i class="fi fi-rr-user"></i> Profile</a>
												<a href="#"><i class="fi fi-rr-envelope"></i> Contact</a>
												<a href="#"><i class="fi fi-tr-document"></i> View CV</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}

				</div>
				
			</div>
	</div>

{% endblock %}

{% block js %}
	<script>

		let dropdown = document.querySelector(".account-dropdown");
		let account = document.querySelector(".account");
		let avatar = document.querySelector(".avatar");
		
		avatar.addEventListener("click", function () {
			if (dropdown.classList.contains("show")) {
				dropdown.classList.remove("show");
			} else {
				dropdown.classList.add("show");
			}
		});

		document.addEventListener("click", function (e) {
			if (dropdown.classList.contains("show")) {
				if (! account.contains(e.target)) {
					dropdown.classList.remove("show");
				}
			}
		});

		document.querySelectorAll(".options").forEach(function(option){
			option.addEventListener("click", function(){
				let menu = this.querySelector(".option-menu");
				console.log(this);
				menu.classList.toggle("show");
			});
		});

	</script>
{% endblock  %}

