{% extends 'base.html.twig' %}

{% block title %}Interviews
{% endblock %}

{% block body %}

<div class="d-flex">
		
		<div class="admin">
			{% include 'recruiter_sidebar.html.twig' %}
		</div>

		<div class="container">
			<div class="content"></div>
		</div>

</div>

{% endblock %}




{% block js %}
	<script>

		let dropdown = document.querySelector(".account-dropdown");
		let avatar = document.querySelector(".avatar");
		let account = document.querySelector(".account");

		avatar.addEventListener("click", function () {
			if (dropdown.classList.contains("show")) {
				dropdown.classList.remove("show");
		} else {
				dropdown.classList.add("show");
		}
		});

		document.addEventListener("click", function (e) {
			if (dropdown.classList.contains("show")) {
				if (! account.contains(e.target)) {
					dropdown.classList.remove("show");
				}
			}
		});
	</script>
{% endblock  %}

