.job-wrapper {
  .job-item {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    border-radius: 5px;

    .job-type {
      margin-top: 10px;

      span {
        background-color: green;
        padding: 5px 10px;
        color: #fff;
        font-family: Montserrat;
        border-radius: 8px;
        font-size: 14px;
      }

    }

  }
}

.dashboard {
  margin-left: 100px;
  margin-top: 100px;

  .application {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    z-index: 1;

    .user-info {
      padding: 20px 10px;
    }

    .user-img {
      text-align: center;
      padding: 10px 0;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    .options {
      position: relative;

      .dropdown {
        cursor: pointer;
      }

      padding: 20px 10px;
    }


    .option-menu {
      position: absolute;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      width: 100px;
      background-color: #fff;
      padding: 10px;
      left: 18px;
      top: 50px;
      z-index: 2;
      display: none;

      &.show {
        display: block;
        z-index: 1;
      }

      a {
        text-decoration: none;
        font-size: 12px;
        display: block;
        margin-bottom: 5px;
        color: #6b6966;
        transition: .3s;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &:hover {
          color: #000;
        }

        i {
          margin-right: 5px;
          margin-top: 2px;
        }
      }
    }

    .user-info {
      p {
        margin-bottom: 0;
      }
    }
  }
}

.stats {
  .stat-item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 11px -1px;
    padding: 50px;

    i {
      font-size: 42px;
    }

    p {
      font-size: 20px;

      span {
        font-size: 32px;
        font-weight: 500;
      }
    }
  }
}