.form-wrapper {
  background-image: url("../images/login.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .alert {
    font-size: 12px;
  }

  .home-page-redirect {
    font-size: 12px;
  }

  .signup-option {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .radio-item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px;

      label {
        margin-left: 2px;
      }
    }
  }

  .signup-form {
    display: block;
    margin: auto;
    background-color: #fff;
    padding: 60px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    span {
      font-size: 12px;
    }

    a {
      text-decoration: none;
      font-size: 12px;
      font-weight: bold;
    }

    label {
      font-size: 12px;
    }

    .form-group {
      p {
        font-size: 12px;
        margin: 10px 0;
      }

      .btn {
        display: block;
        width: 100%;
        font-size: 14px;
      }

      .form-control {
        outline: none;
        border-radius: 0;
        width: 300px;
        border: none;
        border-bottom: 1px solid #e0e0e0;
        font-size: 14px;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}