{% extends 'base.html.twig' %}

{% block body %}

{% include 'navbar.html.twig' %}

	<div class="slider">
		<div class="overlay"></div>
		<div class="slide-content">
			<h1>Apply for a job</h1>
		</div>
	</div>


	<div class="container">
    <div class="job-desc">
      <div class="row">
        <div class="col-lg-8">
          <div class="job-details">
            <div class="desc-item">
              <h3>Job description</h3>
              <p>It is a long established fact that a reader will beff distracted by vbthe creadable content of a page when looking at its layout. The pointf of using Lorem Ipsum is that it has ahf mcore or-lgess normal distribution of letters, as opposed to using, Content here content here making it look like readable.</p>
            </div>
            <div class="desc-item">
              <h3>Required Knowledge, Skills, and Abilities</h3>
              <ul>
                <li>System Software Development</li>
                <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>
                <li>Research and code , libraries, APIs and frameworks</li>
                <li>Strong knowledge on software development life cycle</li>
                <li>Strong problem solving and debugging skills</li></li>
              </ul>
            </div>
            <div class="desc-item">
              <h3>Education + Experience</h3>
              <ul>
                <li>3 or more years of professional design experience</li>
                <li>Direct response email experience</li>
                <li>Ecommerce website design experience</li>
                <li>Familiarity with mobile and web apps preferred</li>
                <li>Experience using Invision a plus</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="job-overview">
            <h3>Job overview</h3>
            <ul>
              <li>Posted date : </li>
              <li>Location : </li>
              <li>Job nature : </li>
              <li>Salary : </li>
              <li>Salary :</li>
            </ul>
            <a href="{{path("app_job_apply", {'id': job.id})}}" class="btn btn-primary">Apply</a>
          </div>
        </div>
      </div>
    </div>
	</div>

{% endblock %}

