<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h3>About us</h3>
        <p>Heaven frucvitful doesn't cover lesser dvsays appear creeping seasons so behold.</p>
      </div>
      <div class="col-lg-3">
        <h3>Contact info</h3>
        <ul>
          <li>Address :Your address goes here, your demo address.</li>
          <li>Phone : +8880 44338899</li>
          <li>Email : info@colorlib.com</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h3>Important link</h3>
        <ul>
          <li><a href="#">View Project</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Testimonial</a></li>
          <li><a href="#">Proparties</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h3>Newsletter</h3>
        <p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
        <div class="newsletter-form">
          <input type="text" name="" placeholder="Email Address" id="">
          <button><i class="fi fi-rr-paper-plane"></i></button>
        </div>
      </div>
    </div>
    <p class="copyright">Copyright ©2024 All rights reserved | This template is made by Yahyaoui</p>
  </div>  
</div>