<div class="col-lg-6">
	
	
	<div class="side-bar">
		<ul>
			<li><a href="{{path("app_recruiter")}}">Home</a></li>
			<li><a href="{{path("app_job")}}">My Jobs</a></li>
			<li><a href="#">Interview</a></li>
			<li><a href="#">Applications</a></li>
		</ul>
	</div>



	<div class="upper-nav">
		<div class="row">
			<div class="col-lg-10">
				<div class="search-bar">
					<form>
						<input type="search" placeholder="Search..." class="form-control"/>
					</form>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="d-flex">
					<div class="notification">
						<span class="notif-count">1</span>
						<i class="fi fi-ts-bell"></i>
					</div>
					<div class="account">
						<div class="avatar"></div>
						<ul class="account-dropdown">
							<li>
								<a href="{{path("app_admin_account")}}">Account</a>
							</li>
							<li>
								<a href="#">Parameters</a>
							</li>
							<li>
								<a href="{{path("app_logout")}}">Logout</a>
							</li>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
