{% extends 'base.html.twig' %}

{% block title %} Saved Applications {% endblock %}

{% block body %}

	<div class="row">
		<div class="admin">
			{% include 'user_sidebar.html.twig' %}
		</div>
			<div class="content">
				<div class="container">
					<div class="row">
						{% for app in apps %}
							<div class="col-lg-4">
								<div class="user-application">
									<h4> {{app.job.name}} </h4>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
	</div>


{% endblock %}
{% block js %}
	<script>
		let dropdown = document.querySelector(".account-dropdown");
let avatar = document.querySelector(".avatar");
let account = document.querySelector(".account");
avatar.addEventListener("click", function () {
if (dropdown.classList.contains("show")) {
dropdown.classList.remove("show");
} else {
dropdown.classList.add("show");
}
});

document.addEventListener("click", function (e) {
if (dropdown.classList.contains("show")) {
if (! account.contains(e.target)) {
dropdown.classList.remove("show");
}
}
});
	</script>
{% endblock  %}

